@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: normal;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    /*place-items: center;*/
    min-width: 320px;
    min-height: 100vh;
}

#root {
    margin: 0 auto;
    width: 100%;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  @apply text-gray-900 dark:text-white;
}
h1,
.h1 {
  @apply text-8xl font-normal;
}
h2,
.h2 {
  @apply text-6xl font-normal;
}
h3,
.h3 {
  @apply text-5xl font-medium;
}
h4,
.h4 {
  @apply text-4xl font-medium;
}
h5,
.h5 {
  @apply text-2xl font-medium;
}
h6,
.h6 {
  @apply text-xl font-medium;
}
.subtitle1 {
  @apply text-base font-medium;
}
.subtitle2 {
  @apply text-sm font-medium;
}
p,
.body1 {
  @apply text-base;
}
.body2 {
  @apply text-sm;
}
.caption {
  @apply text-xs;
}
.overline {
  @apply text-xs uppercase;
}
.text-error {
  @apply text-red-500 dark:!text-red-400;
}